body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  height: 1vh;
  background-color: #2e4b6d;

  .container {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  


    .content {
      height: 100%;
      height: auto;

      #list {
        padding: 0;

        .item {
          min-height: 35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;

          .completed-circle {
            width: 30px;
            height: 35px;
            cursor: pointer;
            flex-basis: 33%;
          }

          .textItem {
            font-size: 25px;
            text-align: center;
            flex-basis: 33%;

            .lineThrough {
              padding-right: 50px;
              flex-basis: 33%;
            }
          }

          .trash-icon {
            width: 30px;
            height: 30px;
            cursor: pointer;
            flex-basis: 33%;
          }
        }
      }

      .lineThrough {
        text-decoration: line-through;
        color: #ccc;
      }

      .add-to-do {
        height: 40px;
        width: 60%;
        margin: 0 auto;
        
        background-color: #b8c4dc;
        border-radius: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: end;


        .plus-circle {
          padding-right: 15px;
          width: 40px;
          height: 40px;
          position: absolute;
          cursor: pointer;
        }

        #input {
          width: 100%;
          padding-left: 20px;
          background-color: transparent;
          border: none;
          font-size: 20px;
        }
      }
    }
  }

  header {
    width: 100%;
    background-image: url("../img/fromspace.jpg");
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .refresh {
      display: flex;
      justify-content: flex-end;

      .refresh-icon {
        width: 40px;
        height: 40px;
        margin: 10px;
        cursor: pointer;
      }
    }

    #date {
      height: 100%;
      font-size: 35px;
      color: #93a6c9;
      padding-top: 95px;
      padding-left: 10px;
      font-weight: 600;
    }
  }
}
